<html>

<head>
    <title>Automate</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Angular Material css -->
    <link rel="stylesheet" href="stylesheets/angular-material.css">
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>

    <!-- Google fonts -->
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Poiret+One'>
    <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Ubuntu:300'>

    <!-- Custom Fonts-->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Cantarell" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Bitter" />
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Aldrich" />

    <!-- Google icon -->


    <!-- CodeMirror css -->
    <link rel="stylesheet" type="text/css" href="stylesheets/show-hint.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/docs.css">

    <!-- Custom css -->
    <link rel="stylesheet" href="stylesheets/style.css">

    <style>
          a:link, a:visited, a:hover, a:active{
               color: white;
          }

          .dropzone{
            width: 100%;
            height: 500px;
            border: dotted;
            opacity: 0.4;
          }
          .dropzone-icon{
            width: 30%;
            margin: 0 auto;
            display: block;
            height: 100%;
            opacity: 0.4;
            user-select: none;
          }

          .dropzone.dragover{
            opacity: 1;
          }

          .dropzone-icon.dragover{
            width: 35%;
            opacity: 1; 
          }
    </style>

</head>

<body ng-app="automate" ng-controller="upload_ctrl">

<md-toolbar flex class="toolbar" ng-cloak>
            <div class="md-toolbar-tools toolbar">

                <!-- SHOW SIDE NAVOGATOR BUTTON -->
                <md-button class="md-icon-button md-button md-ink-ripple"
                ng-click="toggleNav()" hide-gt-sm>
                    <md-icon md-font-icon="material-icons" style="color:white;">reorder</md-icon>
                </md-button>

                <!-- TOOLBAR HEADER -->
                <span class="no-select header-text clickable-mouse-point">
                    <a href="#" style="text-decoration: none;">{{applicationName}}</a>
                </span>

                <!-- SPACER -->
                <div flex=""></div>

                <!-- PROJECT SELECTOR -->
                <md-select ng-model="project.selected"
                md-selected-text="project.selectMenuString"
                ng-change="project.onSelect()"
                ng-click="project.onClick()"
                aria-label="Project" class="toolbar-project-selector">
                    <md-optgroup label="Projects">
                        <md-option ng-value="project" ng-repeat="project in project.nameList">{{project}}</md-option>
                    </md-optgroup>
                </md-select>

                <!-- SPACER -->
                <div flex=""></div>
            </div>
        </md-toolbar>

        <h2>Drag and Drop template file to upload</h2>



        <form id="uploader" action="/getSanitizationStepsByTemplate" method="post">
            <input type="file" name="file" id="file">
            <input type="submit" name="submit" onclick="test(event)">
        </form>


        <div class="dropzone" id="dropzone">
            <img class="dropzone-icon" src="img/icons/ic_open_in_browser_black_24px.svg" style="">
                
            </img>
        </div>

        <h2 id="error-message"></h2>



<!-- Angular js -->
    <script src="javascripts/angular-modules/angular.js"></script>

    <script src="javascripts/angular-modules/angular-animate.js"></script>
    <script src="javascripts/angular-modules/angular-aria.js"></script>
    <script src="javascripts/angular-modules/angular-messages.js"></script>
    <script src="javascripts/angular-modules/angular-cookies.js"></script>
    <script src="javascripts/angular-modules/angular-loader.js"></script>
    <script src="javascripts/angular-modules/angular-message-format.js"></script>
    <script src="javascripts/angular-modules/angular-mocks.js"></script>
    <script src="javascripts/angular-modules/angular-parse-ext.js"></script>
    <script src="javascripts/angular-modules/angular-resource.js"></script>
    <script src="javascripts/angular-modules/angular-route.js"></script>
    <script src="javascripts/angular-modules/angular-sanitize.js"></script>
    <script src="javascripts/angular-modules/angular-scenario.js"></script>
    <script src="javascripts/angular-modules/angular-touch.js"></script>


    <!--  Angular Material js  -->
    <script src="javascripts/angular-modules/angular-material.js"></script>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    <!-- CodeMirror js -->
    <script src="javascripts/codemirror-modules/codemirror.js"></script>
    <script src="javascripts/codemirror-modules/show-hint.js"></script>
    <!--<script src="javascripts/codemirror-modules/javascript-hint.js"></script>-->
    <script src="javascripts/codemirror-modules/javascript.js"></script>
    <!--<script src="javascripts/codemirror-modules/markdown.js"></script>-->
    <!--<script src="javascripts/codemirror-modules/anyword-hint.js"></script>-->


    <!-- XLSX Module -->
    <!--<script lang="javascript" src="dist/xlsx.core.min.js"></script>-->
    <script lang="javascript" src="javascripts/excellentexport.js"></script>


     <script> let app = angular.module('automate', ['ngMaterial']) </script>
     <script src="javascripts/automate-modules/services/super-service.js"></script>
     <script src="../javascripts/automate-modules/services/project-service.js"></script>
     <script src="../javascripts/automate-modules/services/rest-service.js"></script>

     <script src="javascripts/upload-modules/script.js"></script>


</body>

</html>