<md-dialog aria-label="Add New Item" style="width: 600px;">
    <md-toolbar>
        <div class="md-toolbar-tools">
                        <span
                                style="font-size: 30px; font-family: Cantarell;">
                                Would you like to add {{itemType}}?
                        </span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content ng-cloak>
        <div class="md-dialog-content">
            <form ng-submit="$event.preventDefault()">
                <p style="font-size: 18px;">
                    Are you sure you want to add components to <code>{{name}}</code>?
                </p>

                <md-select
                        aria-label="LibrarySelectMenu"
                        ng-model="selectedLibrary"
                        md-selected-text="librarySelectText()"
                        ng-change="onLibraryChange()"
                        style="width: 500px; margin: 20px auto 20px auto;">
                    <md-optgroup label="Libraries">
                        <md-option ng-value="library" ng-repeat="library in library.nameList">{{library}}</md-option>
                    </md-optgroup>
                </md-select>

                <md-select
                        aria-label="ComponentToppingsMenu"
                        ng-model="selectedComponents"
                        md-selected-text="componentSelectText()"
                        multiple=""
                        ng-disabled="componentSelectorIsDisabled()"
                        style="width: 500px; margin: 20px auto 20px auto;">
                    <md-optgroup label="Components">
                        <md-option ng-value="component" ng-repeat="component in getComponentsOfLib()">{{component}}</md-option>
                    </md-optgroup>
                </md-select>

            </form>
        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button
                class="md-raised"
                aria-label="Okay"
                ng-click="ctrl.ok($event)">
            Okay
        </md-button>
    </md-dialog-actions>
</md-dialog>