<md-dialog aria-label="Create New Item">
    <md-toolbar>
        <div class="md-toolbar-tools">
                      <span style="font-size: 30px; font-family: Cantarell;">
                                Would you like to create {{itemType}}?
                        </span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content ng-cloak>
        <div class="md-dialog-content">
            <form ng-submit="$event.preventDefault()" style="padding: 0; margin: 0;">
                <p style="font-size: 18px;">
                    Make sure <code>{{itemType}}</code> name is unique and meaningful
                </p>

                <md-input-container
                        class="md-block"
                        ng-hide="ctrl.ownerTXTIsHidden"
                        style="margin-bottom: 10px;">
                    <label>{{itemType}} Owner</label>
                    <md-select
                            ng-model="ctrl.owner"
                            md-selected-text="ctrl.ownerSelectMenuString()">
                        <md-option ng-repeat="user in users.list" ng-value="user">
                            {{user}}
                        </md-option>
                    </md-select>
                    <!--<input ng-model="ctrl.owner" md-autofocus="true">-->
                </md-input-container>

                <md-autocomplete
                        md-autofocus="ctrl.ownerTXTIsHidden"
                        md-selected-item="ctrl.selectedItem"
                        md-search-text="ctrl.searchText"
                        md-items="item in ctrl.querySearch(ctrl.searchText)"
                        md-item-text="item.display"
                        md-min-length="0"
                        placeholder="Name of the {{itemType}}">
                    <md-item-template>
                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.display}}</span>
                    </md-item-template>
                    <md-not-found>
                        No states matching "{{ctrl.searchText}}" were found.
                    </md-not-found>
                </md-autocomplete>

                <div style="height: 50px;"></div>

                <md-chips
                        placeholder="Enter resource name"
                        ng-model="ctrl.userNames"
                        ng-hide="ctrl.chipIsHidden"
                        name="userName"
                        readonly="ctrl.readonly"
                        md-removable="ctrl.removable"
                        md-max-chips="20">
                    <md-chip-template>
                        <strong>{{$chip}}</strong>
                    </md-chip-template>
                </md-chips>

                <p style="padding-top: 10px" ng-hide="ctrl.chipIsHidden">Enter name and press enter to add resources</p>
            </form>
        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button aria-label="Okay" ng-click="ctrl.ok($event)">Okay</md-button>
    </md-dialog-actions>
</md-dialog>