<md-dialog aria-label="Add New Item" style="width: 600px;">
    <md-toolbar>
        <div class="md-toolbar-tools">
                            <span
                                    style="font-size: 30px; font-family: Cantarell;">
                                    Would you like to change owner?
                            </span>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="ctrl.cancel()">
                <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content ng-cloak>
        <div class="md-dialog-content">
            <form ng-submit="$event.preventDefault()">
                <p style="font-size: 18px;">
                    Are you sure you want to change the owner of <code>{{name}}</code>?
                </p>


                <md-select
                        aria-label="OwnerSelectMenu"
                        ng-model="ctrl.owner"
                        md-selected-text="ctrl.ownerSelectText()"
                        ng-change="ctrl.onOwnerChange()"
                        style="width: 500px; margin: 20px auto 20px auto;">
                    <md-optgroup label="Owner">
                        <md-option ng-value="stat" ng-repeat="stat in ctrl.list">{{stat}}</md-option>
                    </md-optgroup>
                </md-select>
            </form>
        </div>
    </md-dialog-content>

    <md-dialog-actions>
        <md-button
                class="md-raised"
                aria-label="Okay"
                ng-click="ctrl.ok($event)">
            Okay
        </md-button>
    </md-dialog-actions>
</md-dialog>